 <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <!-- <h6>SOFTWARE APPLICATION DEVELOPMENT</h6> -->
                  <!-- <h4>Financial Analysis<br>&amp; Consulting</h4> -->
                     <h4>SOFTWARE APPLICATION DEVELOPMENT</h4>
                      <!-- <h6>"IT SOLUTIONS, BY IT MASTERS"</h6>
                  <p>"Axiom TechGuru Pvt. Ltd." provides software solutions on various Technologies like Java, .Net, Android & PHP. We are dealing into ERP, Web Development, Desktop Applications, and Mobile & IOS Development. With a vision to expand its business in India and Abroad on a large scale, "Axiom TechGuru Pvt. Ltd." is surely one of its own kinds in Central India.</p> -->
                  <!-- <a href="contact.html" class="filled-button">contact us</a> -->
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <!-- <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are here to support you</h6>
                  <h4>Accounting<br>&amp; Management</h4>
                  <p>You are allowed to use this template for your company websites. You are NOT allowed to re-distribute this template ZIP file on any template download website. Please contact TemplateMo for more detail.</p>
                  <a href="services.html" class="filled-button">our services</a>
                </div>
            </div>
          </div> -->
          <!-- // Item -->
          <!-- Item -->
          <!-- <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we have a solid background</h6>
                  <h4>Market Analysis<br>&amp; Statistics</h4>
                  <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>
                  <a href="about.html" class="filled-button">learn more</a>
                </div>
            </div>
          </div> -->
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>
            <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
          </div>
          <div class="col-md-4">
            <a href="contact.html" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Axiom TechGuru  <em>Pvt. Ltd.</em></h2>
              <span>"IT SOLUTIONS, BY IT MASTERS"</span>
              <p>Axiom TechGuru Pvt. Ltd. is established in year 2003 achieved a fame of reputed organization engages in offering "Internship, Research and software Development". It’s a leading software Research & Development firm in Nagpur proving high end software Research & Development for clients & corporate. Axiom TechGuru Pvt. Ltd. has a team of 50 Employees those who are working on various Domain & Project
"Axiom TechGuru Pvt. Ltd." provides software solutions on various Technologies like Java, .Net, Android & PHP. We are dealing into ERP, Web Development, Desktop Applications, and Mobile & IOS Development. With a vision to expand its business in India and Abroad on a large scale, "Axiom TechGuru Pvt. Ltd." is surely one of its own kinds in Central India.</p>
            </div>
          </div>
       