    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Products</h1>
            <!-- <span>CREATIVE SOLUTION AT WORK</span> -->
          </div>
        </div>
      </div>
    </div><br>

    <!-- <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>our solid background on finance</span>
                    <h2>Get to know about <em>our company</em></h2>
                    <p>Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem. 
                    <br><br>Pellentesque in sagittis lacus, vel auctor sem. Quisque eu quam eleifend, ullamcorper dui nec, luctus quam.</p>
                    <a href="" class="filled-button">Read More</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/about-image.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="team"> -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <!-- <h2>Our team <em>members</em></h2> -->
              <h2>Products</h2>
              <span>CREATIVE SOLUTION AT WORK</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/rct.png" alt="">
              <div class="down-content">
                <h4>Right Choice Tailor</h4>
                <!-- <span>Co-Founder</span> -->
                <p>Right choice tailor is a platform where you can choose best tailor.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/Dhansons.png" alt="">
              <div class="down-content">
                <h4>Dhansons</h4>
                <!-- <span>Chief Marketing Officer</span> -->
                <p>Dhansons Lawn Website for managing lawn booking and promoting business.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/sanskar.png" alt="">
              <div class="down-content">
                <h4>Sanskar Bandhan</h4>
                <!-- <span>Financial Analyst</span> -->
                <p>Sanskar bandhan is a matrimonial website where you can select your life partner.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->

    <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/anusaya.png" alt="">
              <div class="down-content">
                <h4>Mata Anusaya</h4>
                <p>Mata Anusaya website for online hall booking.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/mathslab.png" alt="">
              <div class="down-content">
                <h4>Mathslab</h4>
                <p>Mathslab is an online mathematical tutor.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/e-comm.jpg" alt="">
              <div class="down-content">
                <h4>E-Commerce</h4>
               <p>E-Commerce website for online shopping.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/kgn.png" alt="">
              <div class="down-content">
                <h4>KGN Decoration</h4>
                <p>KGN Decoration website for online decoration booking.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/nagpur.png" alt="">
              <div class="down-content">
                <h4>Nagpur Rental</h4>
                <p>Nagpur Rental website where user can post the advertisement for rental property.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/retail.jpg" alt="">
              <div class="down-content">
                <h4>Retail Software</h4>
               <p>Retail Software for garment retail showroom.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/clinical.jpg" alt="">
              <div class="down-content">
                <h4>E-Lab</h4>
                <p>E-Lab software for doctors and clinical lab.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/erp.jpg" alt="">
              <div class="down-content">
                <h4>Education ERP</h4>
                <p>Education ERP for colleges.</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/retail.jpg" alt="">
              <div class="down-content">
                <h4>Retail Software</h4>
               <p>Retail Software for garment retail showroom.</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>

    