<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Our Services</h1>
            <!-- <span>We are over 20 years of experience</span> -->
          </div>
        </div>
      </div>
    </div><br><br>

    <div class="col-md-12">
            <div class="section-heading">
              <!-- <h2>Our team <em>members</em></h2> -->
              <h2>Our <em>Services</em></h2>
              <!-- <span>Suspendisse a ante in neque iaculis lacinia</span> -->
            </div>
          </div>

    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>Software Application Development<i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2'>Mobile Application Development <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3'>Web Design And Development<i class="fa fa-angle-right"></i></a></li>
              <!-- <li><a href='#tabs-4'>Overall Evaluation <i class="fa fa-angle-right"></i></a></li> -->
            </ul>
          </div>
          <div class="col-md-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="assets/images/soft.jpg" alt="">
                <h4>Software Application Development</h4>
                <p>"Axiom TechGuru Pvt. Ltd. offers the best solutions in the industry when it comes tosoftware development. We have a team of highly skilled professionals who are ready and capable of understanding your requirements and can come up with solutions that meet your every need. We develop the customized software according to the user requirements and feasibility.
                <br><br>We also under take maintenance of existing applications as well as we are always willing to undertake the outsourced projects. Software development is not limited to writing code and delivering the project. Axiom TechGuru Pvt. Ltd. Solutions encompasses that real success of software developmentlies in understanding the requirement and business objectives precisely and recommending a cost effective solution with a fine blend of technology and solution."</p>
              </article>
              <article id='tabs-2'>
                <img src="assets/images/mobile.jpg" alt="">
                <h4>Mobile Application Development</h4>
                <p>"We are on a fast track in Research and Development (R&D) which are rapidly emerging in software development in industry. We are working on different research domain like.
                <br><br>Data Mining, Text Mining, Image Processing, Network Security, Mobi-cloud, Cloud Computing, Big Data and Data Analytics."</p>
              </article>
              <article id='tabs-3'>
                <img src="assets/images/web.jpg" alt="">
                <h4>Web Design And Development</h4>
                <p>"Axiom TechGuru" is an offshore software development company based in Nagpur with an expertise in Website Designing, Web Applications Development, E – Commerce solutions, Open Source CMS like WordPress, Joomla, Opencart, Magento etc. Online Marketing and Search Engine Optimization Services. offers wide-range of highly qualitative, timely delivered and cost-effective service that make us a one-stop shop for all the technology needs for all business small, medium or large.
                <br><br>"Axiom TechGuru" is abreast with the latest technologies and applies it in providing best in class web services and innovative web solutions, we also strive to improve the client’s capability, thereby helping them achieve their business objectives and an edge over competitors. is abreast with the latest technologies and applies it in providing best in class web services and innovative web solutions, we also strive to improve the client’s capability, thereby helping them achieve their business objectives and an edge over competitors.</p>
              </article>
              <!-- <article id='tabs-4'>
                <img src="assets/images/single_service_04.jpg" alt="">
                <h4>Overall Evaluation</h4>
                <p>Integer vehicula sapien quis dolor efficitur, eget molestie eros tempus. Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis. Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. 
                <br><br>Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique. Etiam suscipit ante a odio consequat, in ornare lacus suscipit. Cras ac libero massa. Quisque rhoncus velit feugiat vulputate mollis. Donec nisl eros, malesuada sed nisi id, condimentum condimentum quam.</p>
              </article> -->
            </section>
          </div>
        </div>
      </div>
    </div>

   